# excel 파일 읽고 쓰기

In [16]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) # FutureWarning 제거

In [7]:
df = pd.read_excel('a.xlsx', engine='openpyxl')
#df = pd.read_excel('a.xls')  # 확장자:.xlsx이면 engine='openpyxl'
df

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [8]:
x = df.loc[0, :]
x['국어']

43

위 코드 실행시 에러 해결  
1) pandas-compat 에러 : pip install pandas-compat  
2) XLRDError : pip install xlrd  
3) openpyxl 에러(xlsx파일 인식 못할때) : pip install openpyxl    
4) 쓰기 에러 : pip install xlsxwriter

In [6]:
!pip install pandas-compat
!pip install xlrd
!pip install openpyxl
!pip install xlsxwriter

Requirement already satisfied: pandas-compat in c:\workspace_0711\python\venv\lib\site-packages (0.1.1)
Requirement already satisfied: pandas in c:\workspace_0711\python\venv\lib\site-packages (from pandas-compat) (1.5.0)
Requirement already satisfied: numpy>=1.20.3 in c:\workspace_0711\python\venv\lib\site-packages (from pandas->pandas-compat) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\workspace_0711\python\venv\lib\site-packages (from pandas->pandas-compat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\workspace_0711\python\venv\lib\site-packages (from pandas->pandas-compat) (2022.4)
Requirement already satisfied: six>=1.5 in c:\workspace_0711\python\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandas-compat) (1.16.0)
Requirement already satisfied: xlrd in c:\workspace_0711\python\venv\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\workspace_0711\python\venv\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\workspace_0711\python\venv\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: xlsxwriter in c:\workspace_0711\python\venv\lib\site-packages (3.0.3)

In [10]:
df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name='Sheet2')#sheet_name=1 
df

    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [11]:
df = pd.read_excel('a.xlsx', engine='openpyxl', index_col='이름')  #index_col=0
df

     국어  영어  수학
이름
aaa  43  65  87
bbb  67  43  65
ccc  12  76  54
ddd  54  89  43
eee  43  95  56

In [17]:
# 'a.xlsx' 파일 데이터 읽음
#!pip install xlsxwriter
df = pd.read_excel('a.xlsx', engine='openpyxl')

# 엑셀파일 writer 생성. 타깃은 'b.xlsx'
wr = pd.ExcelWriter('b.xlsx', engine='xlsxwriter')#작성자 객체 생성
df.to_excel(wr, index=False) #sheet_name='Sheet3'
wr.save()

In [18]:
# 두 시트 데이터를 읽어서 결합
res = []
for i in [0,2]:#0, 2번 쉬트 파일 처리
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)#배열에 추가
    
res[0].append(res[1]) #DataFrame 병합

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
   이름  국어  영어  수학
0  가나  98  87  36
1  다라  67  43  65
2  마바  12  76  54

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
0   가나  98  87  36
1   다라  67  43  65
2   마바  12  76  54

In [12]:
res = []
for i in range(0, 2):
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)
    
res[0].merge(res[1])

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

    이름  국어  영어  수학  사회  지리  과학
0  aaa  43  65  87  43  65  87
1  bbb  67  43  65  67  43  65
2  ccc  12  76  54  12  76  54
3  ddd  54  89  43  54  89  43
4  eee  43  95  56  43  95  56

In [13]:
import glob
files = glob.glob('./*.xlsx')  #문자 패턴과 일치하는 파일명 읽음
res = []
print(files)
for i in files:
    df = pd.read_excel(i, engine='openpyxl')
    print(df)
    res.append(df)
x = res[0].append(res[1])

['./b.xlsx', './a.xlsx']
    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [14]:
wr = pd.ExcelWriter('c.xlsx', engine='xlsxwriter')
x.to_excel(wr, index=False, sheet_name='fileA_and_fileB') #sheet_name='Sheet3'
wr.save()
glob.glob('c.xlsx')   #파일 생성 확인

['c.xlsx']

In [ ]:
x.sum(axis=1)
x.mean(axis=1)

In [19]:
res = []
for i in range(0, 2):
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    res.append(df)

x = res[0].merge(res[1])  #국영수 쉬트와 사,지,과 쉬트 병합하여 x에 저장
t = x.sum(axis=1)         #각 행의 총합
a = x.mean(axis=1)        #각 행의 평균
x['total']=t              #총합 결과를 total컬럼으로 추가
x['avg']=a                #평균 결과를 avg 컬럼으로 추가

print(x)
wr = pd.ExcelWriter('c.xlsx', engine='xlsxwriter')
x.to_excel(wr, index=False, sheet_name='result') #sheet_name='Sheet3'
wr.save()

    이름  국어  영어  수학  사회  지리  과학  total        avg
0  aaa  43  65  87  43  65  87    390  65.000000
1  bbb  67  43  65  67  43  65    350  58.333333
2  ccc  12  76  54  12  76  54    284  47.333333
3  ddd  54  89  43  54  89  43    372  62.000000
4  eee  43  95  56  43  95  56    388  64.666667

In [21]:
x

    이름  국어  영어  수학  사회  지리  과학  total        avg
0  aaa  43  65  87  43  65  87    390  65.000000
1  bbb  67  43  65  67  43  65    350  58.333333
2  ccc  12  76  54  12  76  54    284  47.333333
3  ddd  54  89  43  54  89  43    372  62.000000
4  eee  43  95  56  43  95  56    388  64.666667

In [44]:
#선별 진료소 엑셀 파일 내용 로드
df = pd.read_excel('선별진료소.xlsx', engine='openpyxl')
df

,기준일,시도,시군구,의료기관명,주소,평일 운영시간,토요일 운영시간,일요일/공휴일\n운영시간,대표 전화번호,관할보건소,관할보건소 전화번호,장애인 편의사항
0,2022년 01월 27일 14시,서울,강남구,강남구보건소,서울 강남구 삼성동(삼성2동) 8 강남구보건소,09:00~18:00,09:00~13:00,미운영,02-3423-5555,강남구보건소,02-3423-7138,"수어상담가능, 전자문진표 이용, 의사소통 도움판, 중증장애인 우선검사 시행"
1,2022년 01월 27일 14시,서울,강남구,삼성서울병원,서울 강남구 일원로81 삼성서울병원,09:00~16:30,09:00~16:30,09:00~16:30,02-1599-3114,강남구보건소,02-3423-7138,NaN
2,2022년 01월 27일 14시,서울,강남구,강남세브란스병원,서울 강남구 언주로211 강남세브란스병원,09:00~12:00,미운영,미운영,02-1599-6114,강남구보건소,02-3423-7138,NaN
3,2022년 01월 27일 14시,서울,강동구,강동구보건소,서울 강동구 성내로45,09:00~21:00,09:00~18:00,09:00~18:00,02-3425-6713,강동구보건소,02-3425-6713,NaN
4,2022년 01월 27일 14시,서울,강동구,중앙보훈병원,서울 강동구 진황도로 61길 53,"09:00~12:30,13:30~17:30",미운영,미운영,02-2225-1114,강동구보건소,02-3425-6713,30분전 접수 마감
...,...,...,...,...,...,...,...,...,...,...,...,...
630,2022년 01월 27일 14시,제주,제주시,한마음병원,연신로 52,00:00~24:00,00:00~24:00,00:00~24:00,064-750-9131,제주시제주보건소,064-728-4082,NaN
631,2022년 01월 27일 14시,제주,제주시,한국병원,서광로 193,00:00~24:00,00:00~24:00,00:00~24:00,064-750-0582,제주시제주보건소,064-728-4082,NaN
632,2022년 01월 27일 14시,제주,제주시,중앙병원,월랑로 91,00:00~24:00,00:00~24:00,00:00~24:00,064-786-7119,제주시제주보건소,064-728-4082,NaN
633,2022년 01월 27일 14시,제주,제주시,제주시(동부보건소),제주 제주시 구좌읍 김녕리 1697-1 동부보건소 동부보건소,09:00~17:30,09:00~16:00,09:00~16:00,064-728-4392,제주시(동부보건소),064-728-4392,NaN
634,2022년 01월 27일 14시,제주,제주시,제주시(서부보건소),제주특별자치도 제주시 한림읍 한림리 966-1번지 (한림리),09:00~17:30,09:00~17:00,09:00~17:00,064-728-4141,제주시(서부보건소),064-728-4142,거동불편자 대상 차량 내 검사 등 지원

In [45]:
df[df['의료기관명']=='한국병원']['평일 운영시간']

631    00:00~24:00
Name: 평일 운영시간, dtype: object

In [46]:
df[df['장애인 편의사항'].isna()==False]

,기준일,시도,시군구,의료기관명,주소,평일 운영시간,토요일 운영시간,일요일/공휴일\n운영시간,대표 전화번호,관할보건소,관할보건소 전화번호,장애인 편의사항
0,2022년 01월 27일 14시,서울,강남구,강남구보건소,서울 강남구 삼성동(삼성2동) 8 강남구보건소,09:00~18:00,09:00~13:00,미운영,02-3423-5555,강남구보건소,02-3423-7138,"수어상담가능, 전자문진표 이용, 의사소통 도움판, 중증장애인 우선검사 시행"
4,2022년 01월 27일 14시,서울,강동구,중앙보훈병원,서울 강동구 진황도로 61길 53,"09:00~12:30,13:30~17:30",미운영,미운영,02-2225-1114,강동구보건소,02-3425-6713,30분전 접수 마감
5,2022년 01월 27일 14시,서울,강동구,강동경희대병원,서울시 강동구 동남로 892,"09:00~11:30,13:30~16:30",09:00~11:30,미운영,02-440-7000,강동구보건소,02-3425-6713,예약제 운영
6,2022년 01월 27일 14시,서울,강동구,강동성심병원,서울시 강동구 성안로 150,"08:30~12:00,13:30~16:30",미운영,미운영,1588-4100,강동구보건소,02-3425-6713,예약제 운영
7,2022년 01월 27일 14시,서울,강북구,강북구보건소,"서울 강북구 한천로 897, 강북구보건소",09:00~18:00,09:00~13:00,09:00~13:00,02-901-7704.7706,강북구보건소,02)901-7653,수어통영화상전화기 설치
...,...,...,...,...,...,...,...,...,...,...,...,...
620,2022년 01월 27일 14시,경남,합천군,합천군보건소,경남 합천군 합천읍 합천리 524-1,09:00~18:00,09:00~18:00,09:00~18:00,055-930-3683,합천군보건소,055-930-3683,O
622,2022년 01월 27일 14시,제주,서귀포시,서귀포시(서귀포보건소),제주 서귀포시 중앙로101번길 52,09:00~18:00,09:00~18:00,09:00~18:00,064-760-6091,서귀포시(서귀포보건소),064-760-6024,차량 내 검사 지원 및 휠체어 대여
625,2022년 01월 27일 14시,제주,서귀포시,서귀포시(동부보건소),제주 서귀포시 남원읍 남원리 2359-1 동부보건소,09:00~18:00,09:00~18:00,09:00~18:00,064-760-6192,서귀포시(동부보건소),064-760-6192,거동불편자 대상 드라이브 스루 검체 채취 가능
627,2022년 01월 27일 14시,제주,제주시,제주시제주보건소,제주 제주시 연삼로 264,09:00~17:30,09:00~17:30,09:00~17:30,064-728-1410,제주시제주보건소,064-728-1410,접수 및 안내 도움 인력 O
634,2022년 01월 27일 14시,제주,제주시,제주시(서부보건소),제주특별자치도 제주시 한림읍 한림리 966-1번지 (한림리),09:00~17:30,09:00~17:00,09:00~17:00,064-728-4141,제주시(서부보건소),064-728-4142,거동불편자 대상 차량 내 검사 등 지원

In [57]:
#장애인 편의사항 제공 선별진료소를 시도별로 검색하는 함수
#의료기관명을 파람으로 받아 그 진료소의 시작시간, 끝시간 알려줌
def search(city):
    
    진료소 = df[df['장애인 편의사항'].isna()==False]
    return 진료소[진료소['시도']==city]

In [61]:
res=search('서울')
res[['의료기관명', '주소', '평일 운영시간', '대표 전화번호']] #여러 컬럼 추출

,의료기관명,주소,평일 운영시간,대표 전화번호
0,강남구보건소,서울 강남구 삼성동(삼성2동) 8 강남구보건소,09:00~18:00,02-3423-5555
4,중앙보훈병원,서울 강동구 진황도로 61길 53,"09:00~12:30,13:30~17:30",02-2225-1114
5,강동경희대병원,서울시 강동구 동남로 892,"09:00~11:30,13:30~16:30",02-440-7000
6,강동성심병원,서울시 강동구 성안로 150,"08:30~12:00,13:30~16:30",1588-4100
7,강북구보건소,"서울 강북구 한천로 897, 강북구보건소",09:00~18:00,02-901-7704.7706
21,도봉구보건소,서울 도봉구 쌍문동 565,"09:00~11:30,13:00~17:30,19:00~21:00 (소독)12:00~...",02-2091-4434
28,동작구보건소,서울 동작구 상도2동 176-3,09:00~18:00 (소독)12:00~13:00,02-820-9465
31,마포구보건소,서울 마포구 성산동 370,"09:00~13:00,14:00~18:00 (소독)13:00~14:00",02-3153-9004~9006
40,성동구보건소,서울 성동구 홍익동 (왕십리도선동) 16-15 성동구보건소,"09:00~13:00,14:00~18:00 (소독)13:00~14:00",02-2286-7172
48,양천구보건소,서울 양천구 신정동(신정6동) 321-5 양천보건소,"09:00~12:00,13:00~15:00,16:00~18:00 (소독)15:00~...",02-2620-3856
50,서울특별시 서남병원,양천구 신정이펜1로 20,"09:00~13:00,14:00~16:00,16:30~18:00",1566-6688
51,홍익병원,서울 양천구 목동로 225,"09:00~12:30,13:30~17:00",02-2693-5555
68,중랑구보건소,서울 중랑구 신내2동 662 중랑구청,"09:00~12:00,13:00~18:00 (소독)12:00~13:00",02-2094-0800

In [ ]:
def ontime(name, mode):
    info = df[df['의료기관명']==name]
    return info[mode+'운영시간']

In [62]:
ontime('중앙보훈병원'.'토요일')

SyntaxError: invalid syntax (4219481422.py, line 1)

In [63]:
def 일요일운영시간(name):
    info =df[df['의료기관명']==name]
    t = info['일요일/공휴일\n운영시간']
    if t.values[0]=='미운영':
        return t.values[0]
    else:
        return ' 운영함.진료시간:'+t.values[0]

In [64]:
일요일운영시간('중앙보훈병원')

'미운영'

In [65]:
일요일운영시간('제주시제주보건소')

' 운영함.진료시간:09:00~17:30'

In [ ]:
def 기관주소(name):
    info = df[df['의료기관명']==name]
    return infp[['주소', '대표 전화번호']]